<div>
  <form action="/api/recovery/change-password" method="post">
    <h1>Cambie sus credenciales</h1>
    <input
      name="password"
      type="password"
      placeholder="Ingrese su nueva contraseña"
    />
    <input
      name="retypePassword"
      type="password"
      placeholder="Ingrese la contraseña nuevamente"
    />
    <input type="hidden" name="token" value="{{token}}" />
    <button type="submit">Cambiar</button>
  </form>
</div>