<div>
  <form action="/api/recovery/send/email" method="get">
    <h1>Recuperar contraseña</h1>
    <label>
      <input type="email" name="email" placeholder="Ingrese su mail" />
    </label>
    <small>Recibirá un correo en caso de que exista una cuenta asociada</small>
    <button type="submit">Enviar mail de recuperación</button>
  </form>
</div>